.shadow_btn {
    font-family: Arial;
    font-size: 20px;
    background-color: rgb(9, 145, 9);
    color: white;
    border: None;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.662);
    transition: padding 0.15s, margin 0.15s;
}
.shadow_btn:active {
    margin-left: 3px;
    margin-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}